In [35]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [23]:
#1. What is the length of the salaries list.
len(salaries)

7

In [24]:
#2. Retrieve the third salary in the list by using index.
salaries[2]

'50k'

In [25]:
#3. Extract the last salary from the list by using a negative index.
salaries[-1]

'40k'

In [26]:
#4. Slice the salaries list to get only the middle three salaries.
salaries[2:5]

['50k', '60k', '35k']

In [27]:
#5. Add a new salary to the list, ‘100k’ by using append() method.
salaries.append("100k")
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [28]:
#5. Add a new salary to the list, ‘120k’ without method
x = ["120k"]
salaries = salaries + x
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [ ]:
#6. Replace the third salary in the list with '55k' and print the updated list.

In [30]:
salaries[2]="55k"
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [31]:
#7. Count how many times '40k' appears in the list.
salaries.count("40k")

2

In [36]:
#8. Insert a new salary at the second position.
salaries.insert(1,"30k")
salaries

['20k', '30k', '40k', '50k', '60k', '35k', '89k', '40k']

In [40]:
#9. Reverse the order of the salaries list with method.
salaries.reverse()
salaries

['40k', '89k', '35k', '60k', '50k', '40k', '30k', '20k']

In [48]:
#10. Reverse the order of the salaries list without method.
salaries[::-1]

['20k', '30k', '40k', '50k', '60k', '35k', '89k', '40k']